<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Perth Property Market Analysis</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    />
    <!--D3 cdn-->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- Our CSS stylesheet-->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />

    <!-- Bootstrap stylesheet -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <!-- Section for the plot  -->

    <canvas id="bar-chart-2" width="400" height="150"></canvas>

    <canvas id="bar-chart-grouped" width="400" height="150"></canvas>

    <canvas id="bar-chart-3" width="400" height="150"></canvas>

    <div id="age_plotly"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <script src="../project_two/static/js/bedroom_year.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <!-- Our JavaScript -->
    <script type="text/javascript" src="../static/js/index.js"></script>
  </body>
</html>
