<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Perth Property Market Analysis</title>

    <!-- Our CSS stylesheet-->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />

    <!-- Bootstrap stylesheet -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />

    <!-- Leaflet CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
      integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
      crossorigin=""
    />
    <!-- Tabulator -->
    <link
      href="https://unpkg.com/tabulator-tables@5.0.0/dist/css/tabulator.min.css"
      rel="stylesheet"
    />
    <script
      type="text/javascript"
      src="https://unpkg.com/tabulator-tables@5.0.0/dist/js/tabulator.min.js"
    ></script>
  </head>
  <!-- ######################################################################### -->
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a
          class="btn btn-primary"
          href="/analysis"
          role="button"
          style="background-color: #14a11b; color: white; font-weight: bolder"
          >Home
        </a>
        <!--  In small screens, navbar collapses to a button  -->
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" style="color: black" href="/leafletmap"
                >Map</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: black" href="/resource">Data</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Navbar -->

    <!-- Granim Section -->

    <canvas id="canvas-basic"></canvas>

  

    <!-- Section for the Histogram plot (land size)  -->

    <div class="container-fluid">
      <div style="background-color: bisque">
        <h1 style="text-align: center">Land Size Analysis</h1>
      </div>
      <div class="row align-items-center">
        <div class="col-8">
          <div id="hist_landsize"></div>
        </div>

        <div class="col-4" style="font-size: 24px;">Popular property sizes are in the range of 500 to 700m2.</div>
      </div>
    </div>
    <!-- ***************************************************************** -->
 
    <!-- Section for the Bar plot (Number of Bedrooms Analysis)  -->

    <div class="container-fluid">
      <div style="background-color: bisque">
        <h1 style="text-align: center">Number of Bedrooms Analysis</h1>
      </div>
      <div class="row align-items-center">
        <div class="col-8">
          <canvas id="bar-popular-bedrooms"></canvas>
        </div>

        <div class="col-4" style="font-size: 24px;">Most of the sold properties had four and three bedrooms. </div>
      </div>
      <hr>

      <div class="row align-items-center">
        <div class="col-8">
          <canvas id="bar-bedroom_price" width="400" height="150"></canvas>
        </div>

        <div class="col-4"  style="font-size: 24px;">Four bedroom properties were the cheapest considering their price per land</div>
      </div>
    </div>
    <hr>

    <!-- Section for multi axis bar charts (Bedroom Analysis) -->
    <div class="container-fluid">
      <div id="multiAxis" style="height: 800px"></div>
    </div>
    <hr>

    <!-- ***************************************************************** -->
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-8">
          <canvas id="bar-bedroom_year" width="400" height="150"></canvas>
        </div>

        <div class="col-4">The number of sold four bedroom properties increased from 2015 to 2018. The ratio of sold dwellings with 4 bedrooms remained 1.5 times higher than 3 bedrooms within this period.</div>
      </div>
    </div>

    


    <!-- Section for the Bar plot (Age of Property Analysis)  -->

    <div class="container-fluid">
      <div style="background-color: bisque">
        <h1 style="text-align: center">Property Age Analysis</h1>
      </div>
    <div id="age_plotly"></div>

    <!-- Section for the Multi axis Bar plot (Suburb Analysis)  -->
    <div class="container-fluid">
      <div style="background-color: bisque">
        <h1 style="text-align: center">Suburb Analysis</h1>
      </div>
    <div id="suburb_plotly"></div>


    <!-- Section for the Bar plots (Distance/Location Analysis)  -->
    <div class="container-fluid">
      <div style="background-color: bisque">
        <h1 style="text-align: center">Location Analysis</h1>
      </div>
    <canvas id="cbd_dist_bar" width="400" height="150"></canvas>

   

    <hr>

    <!-- Distance to School Section -->
    <div class="row" style="margin-top: 50px; margin-bottom: 50px; margin-left: 50px; margin-right: 50px">
      <div class="col-md-2">
        <div class="well">
          <h4>Top Perth Schools</4>
          <select id="selSchool"></select>
        </div>
      </div>
 
    </div>
    <div id="scatter_school" class="container"></div>
<hr>
    <!-- Distance to Station Section -->
    <div class="row" style="margin-top: 50px; margin-bottom: 50px; margin-left: 50px; margin-right: 50px">
      <div class="col-md-2">
        <div class="well">
          <h4>Perth Train Stations</h4>
          <select id="selStation"></select>
        </div>
      </div>
   
    </div>
    <div id="scatter_station" class="container"></div>



    <!--D3 cdn-->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <!-- Our JavaScript -->
    <script type="text/javascript" src="../static/js/index.js"></script>

    <!-- API key -->
    <script type="text/javascript" src="../static/js/config.js"></script>

    <!-- Leaflet JS-->
    <script
      src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
      integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
      crossorigin=""
    ></script>
    <!-- Call Granim.js script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/granim/2.0.0/granim.js"></script>
    <script>
      var granimInstance = new Granim({
        element: "#canvas-basic",
        direction: "left-right",
        isPausedWhenNotInView: true,
        states: {
          "default-state": {
            gradients: [
              ["#ff9966", "#ff5e62"],
              ["#00F260", "#0575E6"],
              ["#e1eec3", "#f05053"],
            ],
          },
        },
      });
    </script>
  </body>
</html>
