<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>House Suburb Analysis</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<!--D3 cdn-->
<script src="https://d3js.org/d3.v5.min.js"></script>

<!-- Our CSS -->
<link rel="stylesheet" type="text/css" href="../static/css/style.css" />
</head>

<body>




<!-- Our JavaScript -->
<script type="text/javascript" src="../static/js/suburb.js"></script>
</body>

</html>
